[Desktop Entry]
Name=KDRS Insight
Name[nb]=KDRS Innsyn
Comment=View and search in Noark 5 deposit files
Exec=piql-insight
Terminal=false
Type=Application
Categories=Office;Database;Archiving;
Keywords=viewer;noark;noark5;document;PDF;xml;
